flask
flask-cors
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
chromadb
hijri-converter
python-dotenv
tenacity
requests
rank-bm25
geopy
python-dateutil
aiohttp
pytz
tabulate
httpx
nltk
tqdm
transformers
sentence-transformers
numpy
